.article-journal {
	font-style: italic;
}

.article-author {
}

.article-title {
}

.article-date {
}

.article-category, .book-category, .thesis-category, .chapter-category {
	color: white;
	padding: 5px;
	margin-right: 5px;
	border-radius: 10px;
	font-size: 11px;
}

.article-icon, .book-icon, .chapter-icon, .thesis-icon {
	width: 50px;
}

