.gray {
	background-color: #a7abaf !important;
}

.red {
	background-color: #f44336 !important;
}

.pink {
	background-color: #e91e63 !important;
}

.purple {
	background-color: #9c27b0 !important;
}

.deep-purple {
	background-color: #673ab7 !important;
}

.indigo {
	background-color: #3f51b5 !important;
}

.blue {
	background-color: #2196f3 !important;
}

.light-blue {
	background-color: #03a9f4 !important;
}

.cyan {
	background-color: #00bcd4 !important;
}

.teal {
	background-color: #009688 !important;
}

.green {
	background-color: #4caf50 !important;
}

.light-green {
	background-color: #8bc34a !important;
}

.lime {
	background-color: #cddc39 !important;
}

.yellow {
	background-color: #ffeb3b !important;
}

.amber {
	background-color: #ffc107 !important;
}

.orange {
	background-color: #ff9800 !important;
}

.deep-orange {
	background-color: #ff5722 !important;
}

.brown {
	background-color: #795548 !important;
}

.blue-grey {
	background-color: #607d8b !important;
}
