.gray {
	background-color: #a7abaf;
}

.red {
	background-color: #f44336;
}

.pink {
	background-color: #e91e63;
}

.purple {
	background-color: #9c27b0;
}

.deep-purple {
	background-color: #673ab7;
}

.indigo {
	background-color: #3f51b5;
}

.blue {
	background-color: #2196f3;
}

.light-blue {
	background-color: #03a9f4;
}

.cyan {
	background-color: #00bcd4;
}

.teal {
	background-color: #009688;
}

.green {
	background-color: #4caf50;
}

.light-green {
	background-color: #8bc34a;
}

.lime {
	background-color: #cddc39;
}

.yellow {
	background-color: #ffeb3b;
}

.amber {
	background-color: #ffc107;
}

.orange {
	background-color: #ff9800;
}

.deep-orange {
	background-color: #ff5722;
}

.brown {
	background-color: #795548;
}

.blue-grey {
	background-color: #607d8b;
}
