<md-dialog aria-label="Categories">
	<form>
		<md-dialog-content class="sticky-container">
			<md-subheader class="md-sticky-no-effect">Ajouter Catégorie</md-subheader>
			<div>
				<md-input-container>
					<label>Nom</label>
					<input ng-model="newCategoryName">
				</md-input-container>

				<md-radio-group ng-model="selectedColor" class="md-primary">
					<div layout="row" layout-wrap layout-align="center center">
						<md-radio-button ng-repeat="d in colorsList"
							ng-value="d.css"
							aria-label="{{ d.name}}">
							<div class="{{ d.css }}" style="width:20px; height: 20px;"></div>
						</md-radio-button>
					</div>
				</md-radio-group>
			</div>
		</md-dialog-content>

		<div class="md-actions" layout="row">
			<span flex></span>
			<md-button ng-click="answer('not useful')" class="md-primary">Annuler</md-button>
			<md-button ng-click="answer('useful')" class="md-primary">Ajouter</md-button>
		</div>
	</form>
</md-dialog>
