<md-dialog aria-label="Mango (Fruit)">
	<form>
		<md-dialog-content class="sticky-container">
			<md-subheader class="md-sticky-no-effect">Ajouter Catégorie</md-subheader>
			<div>
				<md-input-container>
					<label>Nom</label>
					<input ng-model="newCategoryName">
					
					<md-select placeholder="Pick" ng-model="someVal">
						<md-option value="1"><div style="background-color: #f44336; width:20px; height: 20px;"></div></md-option>
						<md-option value="2"><div style="background-color: #009688; width:20px; height: 20px;"></div></md-option>
					</md-select>
				</md-input-container>
			</div>
		</md-dialog-content>

		<div class="md-actions" layout="row">
			<span flex></span>
			<md-button ng-click="answer('not useful')" class="md-primary">Annuler</md-button>
			<md-button ng-click="answer('useful')" class="md-primary">Ajouter</md-button>
		</div>
	</form>
</md-dialog>
