<md-bottom-sheet class="md-grid">
	<md-content layout-padding>
		<form>
			<div layout="row" layout-align="space-between center" laytout-sm="column">
				<md-radio-group ng-model="newRefController.selectedType">
					<md-radio-button ng-repeat="d in newRefController.types"
									 ng-value="d.value"
									 class="RefTypeRadio">{{ d.name }}</md-radio-button>
				</md-radio-group>
				
				<md-button class="md-raised md-primary" ng-click="newRefController.submit()">Ajouter Référence</md-button>
			</div>
			<div layout layout-sm="column">
				<md-input-container style="width:100%">
					<label>Titre</label>
					<input ng-model="newRefController.title" required>
				</md-input-container>
			</div>

			<div layout layout-sm="column">
				<md-input-container flex ng-if="newRefController.selectedType == 'Chapter'">
					<label>Titre du livre</label>
					<input ng-model="newRefController.bookTitle" required>
				</md-input-container>

				<md-input-container flex>
					<label>Editeur</label>
					<input ng-model="newRefController.editor" required>
				</md-input-container>

				<md-input-container style="width: 30%">
					<label>Date</label>
					<input type="date" ng-model="newRefController.date" required>
				</md-input-container>
			</div>

			<div layout layout-sm="column">
				<md-chips 
	                ng-model="newRefController.selectedCategories" 
	                md-autocomplete-snap 
	                md-require-match
					style="width: 100%">
	                <md-autocomplete
	                    md-selected-item="newRefController.selectedCategory"
	                    md-search-text="newRefController.searchTextCategory"
	                    md-items="item in newRefController.querySearchCategory(newRefController.searchTextCategory)"
	                    md-item-text="item.name"
	                    placeholder="Sélectionner categories">
	                        <span md-highlight-text="newRefController.searchTextCategory">{{item.name}}</span>
    	            </md-autocomplete>
	                <md-chip-template>
	                    <strong>{{$chip.name}}</strong>
	                </md-chip-template>
	            </md-chips>
			</div>

			<div layout layout-sm="column" style="margin-top:10px">
				<div style="width: 30%">
					<md-subheader class="md-no-sticky">Liste des auteurs</md-subheader>
					<ul>
						<li ng-repeat="a in newRefController.authors" style="list-style: none">
							<div layout layout-sm="column">
								<p style="width: 90%"> {{ a.firstName }} {{ a.lastName }}</p>
								<md-button style="width: 10%" class="md-warn" ng-click="newRefController.removeAuthor($index)">X</md-button>
							</div>
						</li>
					</ul>
				</div>
				<div style="width: 40%">
					<md-subheader class="md-no-sticky">Ajouter un auteur</md-subheader>
					<md-input-container>
						<label>Nom</label>
						<input ng-model="newAuthorLastName">
					</md-input-container>
					
					<md-input-container>
						<label>Prénom</label>
						<input ng-model="newAuthorFirstName">
					</md-input-container>

					<md-input-container>
						<label>E-mail</label>
						<input ng-model="newAuthorEmail">
					</md-input-container>
				
					<div layout="row" layout-align="end center">	
						<md-button class="md-raised" ng-click="newRefController.addAuthor(newAuthorLastName, newAuthorFirstName, newAuthorEmail)">Ajouter</md-button>
					</div>
				</div>
			</div>
		</form>
	</md-content>
</md-bottom-sheet>
