<!--<span ng-if='ref.author.length > 2'>
	Ref: {{ ref.author[0].lastname }}, {{ ref.author[0].firstname }} et al.
</span>-->


<div layout="row" layout-align="center center">

	<div flex="5">
		<img ng-src="assets/svg/chapter-icon.svg" class="face chapter-icon" alt="chapter">
	</div>

	<div flex="95">
		<div class="chapter-def">
			<span ng-repeat='author in ref.author' class="chapter-author">{{ author.firstname }} {{ author.lastname }},</span>
			<span class="chapter-title">{{ ref.title }}.</span>
			<span>In: </span>
			<span class="chapter-editor">{{ ref.editor }},</span>
			<span class="chapter-book-title">{{ ref.bookTitle }},</span>
			<span class="chapter-date">({{ ref.date }})</span>
			<span class="chapter-point">.</span>
		</div>
		
		<div class="chapter-categories">
			<span ng-repeat='cat in ref.categories' class='chapter-category {{ cat.color }}'>{{ cat.name }}</span>
		</div>
	</div>

</div>
